body, html {
	margin: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
body {
	display: grid;
	grid-template-rows: 32rem 16rem;
	grid-template-areas: "." "keyboard";
}
pt-keyboard {
	grid-area: keyboard;
}